#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.clock {
  margin: auto;
  display: flex;
  border: 2px solid black;          
  border-radius: 12px;
  width: 150px;
  height: 150px;
  flex-direction: column;
  justify-content: center;
}

.student-list-table {
  margin: 10px;
  border-collapse: collapse;
  border: 2px solid black;
  border-radius: 12px;
  width: 80%;
  height: 20%;
  overflow: hidden;
}

.student-list-table tr td,
.student-list-table tr th {
  text-align: center;
  padding: 10px 50px;
  border: 1px solid black;
}